<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Oline_ExamEntities" connectionString="metadata=res://*/OnlineExam.csdl|res://*/OnlineExam.ssdl|res://*/OnlineExam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_ExamEntities1" connectionString="metadata=res://*/OnlineExam.csdl|res://*/OnlineExam.ssdl|res://*/OnlineExam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_ExamEntities2" connectionString="metadata=res://*/Onlin_Exam.csdl|res://*/Onlin_Exam.ssdl|res://*/Onlin_Exam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam" connectionString="metadata=res://*/Onlin_Exame.csdl|res://*/Onlin_Exame.ssdl|res://*/Onlin_Exame.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam1" connectionString="metadata=res://*/Oline_Exam.csdl|res://*/Oline_Exam.ssdl|res://*/Oline_Exam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam2" connectionString="metadata=res://*/Oline_Exam1.csdl|res://*/Oline_Exam1.ssdl|res://*/Oline_Exam1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam3" connectionString="metadata=res://*/Oline_Exam2.csdl|res://*/Oline_Exam2.ssdl|res://*/Oline_Exam2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam4" connectionString="metadata=res://*/Oline_Exam.csdl|res://*/Oline_Exam.ssdl|res://*/Oline_Exam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam5" connectionString="metadata=res://*/Oline_Exam4.csdl|res://*/Oline_Exam4.ssdl|res://*/Oline_Exam4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam6" connectionString="metadata=res://*/Online_Exam1.csdl|res://*/Online_Exam1.ssdl|res://*/Online_Exam1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_ExamEntities3" connectionString="metadata=res://*/Oline_Exam6.csdl|res://*/Oline_Exam6.ssdl|res://*/Oline_Exam6.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_ExamEntities4" connectionString="metadata=res://*/Oline_ExamEntities3.csdl|res://*/Oline_ExamEntities3.ssdl|res://*/Oline_ExamEntities3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam11" connectionString="metadata=res://*/Oline_Exam11.csdl|res://*/Oline_Exam11.ssdl|res://*/Oline_Exam11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Oline_Exam10" connectionString="metadata=res://*/Online_Exam11.csdl|res://*/Online_Exam11.ssdl|res://*/Online_Exam11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Online_Exame" connectionString="metadata=res://*/Online_Exame.csdl|res://*/Online_Exame.ssdl|res://*/Online_Exame.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN\MSSQLSERVER17;initial catalog=Oline_Exam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>